/* APPARITION OF THE BLOCK */

.content {
	opacity: 1;
	z-index:1;
}

/* PROJECT LIST */

.content .col--right ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align:left;
	flex-direction:row;
	flex-wrap: wrap;
}